<title>{$page_title|default:$smarty.const.CONF_DEFAULT_TITLE|escape:'html'}</title>
{$page_meta_tags}
<script type="text/javascript" src="{$smarty.const.URL_JS}/niftycube.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="{$smarty.const.URL_JS}/jquery.flexslider-min.js"></script>

<script>
{literal}

$(document).ready(function($){


$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "fade",
	directionNav: false
  });
});

// Catalog
$('.catalog_sw h3').click(function(){
	$('.cat_ws_cnt').toggle(500);
});




var ddmenuitem = 0;
function jsddm_open()
{  jsddm_close();
   ddmenuitem = $(this).find('.filters ul li ul li').css('display', 'block');
}
function jsddm_close()
{  
 if(ddmenuitem) ddmenuitem.css('display', 'none');
}
$(document).ready(function()
{  
   $('.filters ul li').bind('click', jsddm_open)
   $('.filters ul li').click(function(){
   if ($(this).attr('class') != 'current'){
   $('.filters ul li').removeClass('current');
   $(this).addClass('current');
   }
 });
});


});

{/literal}
</script>