<div id="wrap">

<div id="top">
	<div class="wrap">		
		    {if $smarty.session.log}<!-- cpt_container_start -->{cpt_auxpages_navigation select_pages='all' auxpages='' view='vertical' overridestyle=':3xaz8c'}<!-- cpt_container_end -->{/if}
	</div>
</div>


<div id="header">

	<div class="wrap">
	
		<div class="logo">
			<a href="/"><img src="images/logo.png" alt="Unsen"></a>
		</div>
		
		<div class="top_menu">
			{cpt_divisions_navigation divisions='29:54:183:32:189' view='horizontal' overridestyle=':8g3ted'}
		</div>
	
		<!--
		<div class="contacts">
			{*cpt_custom_html code='jymcwcmu' overridestyle=':5zs8lv'*}
		</div>-->
		
		<div class="cart">
			{if $smarty.session.log}{cpt_shopping_cart_info overridestyle=''}{/if}
		</div>
		
	</div>

</div>

{if $smarty.session.log}



{else}

{if $main_content_template=='home.html'}
<div class="slider_wrap">
	<div class="flexslider">
		{auxpage slug="slider"}
	</div>
</div>

<div id="home_page">

<div class="text">
	<h3>О клубе</h3>
	{auxpage slug="test"}
	<a href="/auxpage_test/" class="more">→ Читать дальше</a>
</div>

<div class="autorize">
	<h3>Вход</h3>
	{include file="authorization.html"}
</div>

<div class="partners">
	<h3>Партнеры</h3>
	<ul>
		<li><img src="images/bn1.jpg" alt="#"></li>
		<li><img src="images/bn2.jpg" alt="#"></li>
		<li><img src="images/bn3.jpg" alt="#"></li>
		<li><img src="images/bn4.jpg" alt="#"></li>
		<li><img src="images/bn5.jpg" alt="#"></li>
	</ul>
</div>

</div>
{/if}
{/if}

<div class="cnt_wrap">

<div id="container">
    {*if $smarty.session.log}

	<div id="sidebar">
   	 	{cpt_custom_html code='c7wj287f' overridestyle=':9unr4j'}
   		{cpt_category_tree overridestyle=':wpe3jv'}
   	 	{cpt_product_search overridestyle=':vxohqa'}
    </div>
   
       {/if*}
	
	<div id="content">
		{cpt_maincontent overridestyle=':iwgkmz'}
	</div>
</div>
</div>


<div class="holder"></div>

</div><!--#wrap-->

<div id="footer">
	<div class="wrap">
		&copy; <a href="{$smarty.const.CONF_FULL_SHOP_URL}">{$smarty.const.CONF_SHOP_NAME}Unsen</a>. {*cpt_divisions_navigation divisions='29:32:54:183' view='horizontal' overridestyle=':b3r4fu'*}
	</div>
</div>



<!--{cpt_custom_html code='8g1gd6h8' overridestyle=':7n698c'}-->
