<table style="width: 60%;">
<tr>
<td><!-- cpt_container_start -->{cpt_product_name overridestyle=''}<!-- cpt_container_end --></td>
</tr>
<tr>
<td id="prddeatailed_container">
{cpt_product_images}
<!-- cpt_container_start -->{cpt_product_params_selectable overridestyle=''}{cpt_product_params_fixed overridestyle=''}{*cpt_product_rate_form overridestyle=''*}{cpt_product_price overridestyle=''}{cpt_product_add2cart_button request_product_count='request_product_count' overridestyle=':zw9m1c'}<!-- cpt_container_end -->
</td>
</tr>
<tr>
	<td>{cpt_product_description overridestyle=''}</td>
</tr>
{*
<tr>
<td><!-- cpt_container_start -->{cpt_product_discuss_link overridestyle=''}{cpt_product_related_products overridestyle=''}{cpt_product_details_request overridestyle=''}<!-- cpt_container_end --></td>
</tr>
*}
</table>