<form name='AdvancedSearchInCategory' method='get' action='{"?ukey=category_search"|set_query_html}'>

	{if !$smarty.const.FURL_ENABLED||!$smarty.const.MOD_REWRITE_SUPPORT}	
		<input name='ukey' value='category_search' type="hidden" >
	{/if}
	
	{if $categories_to_select}
		<input type='hidden' name='search_with_change_category_ability' value='yes' >
	{else}
		<input type='hidden' name='search_with_change_category_ability' value='1' >
		<input name='categoryID' val{$params[i].name|escape:'html'}ue='{$categoryID}' type="hidden" >
	{/if}
	
	
	{if $categories_to_select}
	<input name='categoryID' type='hidden' value = '{$categoryID}'>

	{/if}

	<div class="filters">

    {*	<ul>	*}
        
        	{section name=i loop=$params}
		{*	<li>
				<a href="javascript:void(0);">{$params[i].name|escape:'html'}</a>
		*}
        		<ul>
					
					{section name=j loop=$params[i].variants}

					<li{if $params[i].variants[j].selected} class='current'{/if}>
                    <input style='display: none;float:left; position:relative; top: 5px;margin: 0 5px 0 10px; ' id='param_{$params[i].variants[j].variantID}' name='param_{$params[i].optionID}_{$params[i].variants[j].variantID}' type="checkbox" value="{$params[i].variants[j].variantID}" {if $params[i].variants[j].selected}checked='checked'{/if}>
					<label for="param_{$params[i].variants[j].variantID}" >
                           <a class='tag-{$params[i].variants[j].variantID}' title='{$params[i].variants[j].value|escape:'html'}'>
                               {$params[i].variants[j].value|escape:'html'}
                             </a>
                    </label>
                    </li>
                        
					{/section}
					

				</ul>
		{*	</li>*}
			
			{/section}
	{*	</ul>
        *}

	</div>
	        <input type='hidden' value='1' name='search_in_subcategory' >
            <input type='hidden' value='' name='advanced_search_in_category' >
</form>

{literal}
<script type="text/javascript" language="javascript">



$(function() {
   $('.filters li input[type="checkbox"]').change(function(){
   //   $('form[name="AdvancedSearchInCategory"]').submit();
   var form_data = $('form[name="AdvancedSearchInCategory"]').serialize();
   
   $.ajax({
	  type: "GET",
	  url:'/category_search/',
	  data: form_data,
	  error: function() {
	    $('#status').text('Update failed. Try again.').slideDown('slow');
	  },
	  success: function(data) {
	   
	    $('#container').html($(data).find('#container').html());
	  },
	  
      complete: function() {
	    setTimeout(function() {
	      $('#status').slideUp('slow');
	    }, 3000);
	  }
	});
   
   //return false;
   });
   
});
</script>
{/literal}