{* category view *}
<script type="text/javascript" src="{$smarty.const.URL_JS}/category.js"></script>


{*
@features "Search products by params"
*}
		{if $allow_products_search}
			{include file="advanced_search_in_category.tpl.html"}
		{/if}
{*
@features
*}
		

{if $products_to_show}

	{*
	 * @features "Products comparison"
	*}
	{include file="comparison_products_button.html"}
	{*
	 * @features
	*}
{*
	{if $string_product_sort}<p id="cat_product_sort">{$string_product_sort}</p>{/if}

	{if $catalog_navigator}<p>{$catalog_navigator}</p>{/if}
*}	
<div id="prd_brief_list">
	 {section name=i1 loop=$products_to_show}
	{if $smarty.section.i1.index is div by $smarty.const.CONF_COLUMNS_PER_PAGE}<tr>{/if}
		{include file="product_brief.html" product_info=$products_to_show[i1]}
	{if ($smarty.section.i1.index+1) is div by $smarty.const.CONF_COLUMNS_PER_PAGE}</tr>{/if}
	 {/section}
</div>
	
	{if $catalog_navigator}<p>{$catalog_navigator}</p>{/if}
	
	{*
	 * @features "Products comparison"
	*}
	{include file="comparison_products_button.html"}
	{*
	 * @features
	*}
{else}
<p>
	{if $search_with_change_category_ability}
		&lt; {"srch_no_matches_found"|translate} &gt;
	{/if}
</p>
{/if}