<tr>
	<td valign="top">
		<span class="cust_name">{$first_name|escape:'html'} {$last_name|escape:'html'}</span>
		<div>{$Email|escape:'html'}</div>
        <div><strong>{"balance"|translate}</strong>: {$ball|escape:'html'} {"balls"|translate}</div>
	</td>
	
	<td valign="top" align="right">
		<a href='{"?ukey=contact_info"|set_query_html}'>{"lnk_update_contact_info"|translate}</a>
	</td>
</tr>