/* Default Styles */
body {
    margin: 0px 0px 0px 0px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
}

img {
    behavior: url("include/pngbehavior.htc");
}

.body {
    font-size: 12px;
}

table, td {
    font-size: 11px;
}

p {
    MARGIN-TOP: 0px;
    MARGIN-BOTTOM: 5px;
}

form {
    margin: 0px;
}

h2, h1 {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
    text-transform: uppercase;
}

h3, .monthHeaderH3, .schedulerTopDateCell {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 3px;
    padding-top: 3px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.h3Row, .monthHeader, .schedulerTopDateCell {
    border-top: 1px solid;
    padding: 2px 5px 2px 5px;
    margin-bottom: 0px;
    margin-top: 10px;
    vertical-align: middle;
    background-repeat: repeat-x;
    background-position: top;
}

h4, h4.dataLabel, h5, h5.listViewSubHeadS1 {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
    padding-left: 4px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

h4.dataLabel {
    margin-top: 0;
    padding-left: 0;
    padding-top: 0;
}

LI {
    LIST-STYLE-TYPE: square;
    margin-left: 6px;
    MARGIN-BOTTOM: 2px;
}

UL {
    MARGIN-TOP: 2px;
}

hr {
    height: 1px;
}

a:link, a:visited {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

.moduleTitle {
	padding-bottom: 3px;
	padding-top: 5px;
	margin-bottom: 5px;
    border-top: 1px solid;
}
