/** DEFAULT STYLES */

body, .body {
    color: #444444;
    background-color: #ffffff;
}

table, td {
    color: #444444;
}

h1, h2, h3 {
    color: #990033;
}

h4, h5 {
    color: #444;
}

.h3Row {
    color: #444;
    background-color: #fff;
    border-color: #999999;
    background-image: url( ../images/gray/bgGray.gif );
}

a:link, a:visited, a.body:link, a.body:visited {
    color: #444444;
}

a:hover, a.body:hover {
    color: #990033;
}

.moduleTitle {
    border-color: #ccc;
}