/**
* STYLES FOR WEB CONTROLS
*/

/** EDITBOX */
.editbox {
    border-color: #999999;
    background-color: #fafafa;
}

.editbox:focus {
    border-color: #990033;
    background-color: #fff;
}

.editbox_readonly {
    border-color: #999999;
    background-color: #fafafa;
}

/** BUTTON */
.button {
    border-color: #999999;
    background-color: #eee;
    color: #444;
    background-image: url( ../images/gray/bgGray.gif );
}

.button:hover, .button:focus {
    color: #990033;
    border-color: #990033;
    background-color: #ffffff;    
    background-image: url( ../images/gray/bgGray.gif );
}

.button_disabled {
    background-color: #eee;
    border-color: #999999;
    color: Gray;
    background-image: url( ../images/gray/bgGray.gif );
}

/** TEXTAREA */
.textarea {
    background-color: #fafafa;
    border-color: #999999;
}

.textarea:focus {
    background-color: #fafafa;
    border-color: #990033;
}

.textarea_readonly {
    background-color: #fafafa;
    border-color: #999999;
}

/** DROPDOWNBOX */
.dropdownbox {
    border-color: #999999;
    background-color: #eee;
    color: #444;
}

.dropdownbox:focus {
    border-color: #fafafa;
    /*background-color: #ff0000;*/
    background-color: #eee;
    color: #444;
}

.dropdownbox_readonly {
    border-color: #999999;
    background-color: #eee;
    color: #444;
}

/** FILEUPLOAD */
.fileupload {
    border-color: #999999;
    background-color: #fafafa;
}

.fileupload:focus {
    border-color: #990033;
    background-color: #fff;
}

.fileupload_readonly {
    border-color: #999999;
    background-color: #fafafa;
}

/** MAIN TAB FORMS */
.tabForm {
    border-color: #999;
    color: #000000;
    background-color: #f6f6f6;
    background-image: url( ../images/gray/bgGrayForm.gif );
}

/** LABELS */
h4.dataLabel {
    color: #444444;
}

/** VALIDATION */
.validation_error {
    color: #ff0000;
}

.mandatory_flag {
    color: #ff0000;
}

/** TABLE */
.one_outer_cell_table {
    background-color: #808080;
}

.column_header_cell {
    color: #444;
	background-color: #fff;
	border-color: #999;
	background-image: url(../images/gray/bgGray.gif);
}

.column_data_cell {
    background-color: #FFFFFF;
    font-size: 8pt;
}

/** LOGGED-IN LAYOUT */
.footer, .underFooter {
	color: #999999;
  	background-color: #f6f6f6;
	border-top-color: #999;
	border-bottom-color: #ccc;
}

a.footerLink:link, a.footerLink:visited {
}

a.footerLink:hover {
    color: #990033;
}

.footerHR {
    color: #666666;
}

.aboveFooter {
    background-color: #ffffff;
}

.leftColumn {
    border-color: #ccc;
}

table.leftColumnModuleHead th{
    color: #444;
	background-color: #fff;
	border-color: #999;
    background-image: url(../images/gray/bgGray.gif);
}

/** LEFT MENU */
.subMenu {
    border-color: #ccc;
}

.subMenu, ul.subMenu li{
    color: #444444;
    background-color: #fff;
    border-color: #ccc;
}

ul.subMenu li a:hover, ul.subMenu li span:hover {
    color: #990033;
    background-color: #f6f6f6;
}

.listViewPaginationTdS1 {
    background-color:#EEEEEE;
    border-color:#999999;
    color:#999999;
}

/** ERRORS */
.tabError {
    border-color: #999;
    color: #000000;
    background-color: #f6f6f6;
    background-image: url( ../images/gray/bgGrayForm.gif );
}

.error_msg_div {
    background-color: #ffffff;
    border-color: #ccc;
}

.error_cause_div {
    background-color: #ffffff;
    border-color: #ccc;
}

.error_stack_div {
    background-color: #ffffff;
    border-color: #ccc;
}

.error_label_div {
    font-weight: bold;
}

/** WRITEACTIONSTATUS*/
.status_successful_div {
    color: #1C9114;    
}

.status_failed_div {
    color: #ff0000;
}