/**
* STYLES FOR WEB CONTROLS
*/

/** EDITBOX */
.editbox {
    border: 1px solid;
}

.editbox:focus {
}

.editbox_readonly {
    border: 1px solid;
}

/** BUTTON */
.button {
    border: 1px solid;
    background-repeat: repeat-x;
    background-position: bottom;
}

.button:hover, .button:focus {
    border: 1px solid;
    background-repeat: repeat-x;
    background-position: top;
}

.button_disabled {
    border: 1px solid;
    background-repeat: repeat-x;
    background-position: bottom;
}


/** TEXTAREA */
.textarea {
    border: 1px solid;
    overflow: auto;
}

.textarea_readonly {
    border: 1px solid;
    overflow: auto;
}

/** SELECTBOX */
.dropdownbox {
    border: 1px solid;
}

.dropdownbox_readonly {
    border: 1px solid;
}

/** FILEUPLOAD */
.fileupload {
    border: 1px solid;
}

.fileupload:focus {
}

.fileupload_readonly {
    border: 1px solid;
}

/** MAIN TAB FORMS */
.tabForm {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 10px 6px 12px 10px;
    background-repeat: repeat-x;
    background-position: top;
}

/** LABELS */
h4, h4.dataLabel, h5 {
    font-weight: bold;
    margin-bottom: 2px;
    padding-left: 4px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

h4.dataLabel {
    margin-top: 0;
    padding-left: 0;
    padding-top: 0;
}

.dataLabel {
    text-align: left;
    padding: 5px 5px 5px 5px;
    vertical-align: top;
}

.dataField {
    text-align: left;
    padding: 5px 5px 5px 5px;
    vertical-align: top;
    background-color:inherit;
}

/** PANEL FILTER SET */
.panel_filterset_div {
    border: 1px solid #D3D3D3;
    width: 100%;
    padding: 5px 5px 5px 5px;
    border-bottom: none;
}

.panel_filterset_button {
    background-color: #EFEFEF;
}

.panel_filterset_table {
}

/** VALIDATION */
.validation_error {
    text-align: left;
    padding: 5px 5px 5px 0;
}

.mandatory_flag {
}

/** PANEL */
.panel_div {
    border: 1px solid Gray;
    width: 100%;
    padding: 5px 5px 5px 5px;
}

.panel_button {
}

.panel_table {
}

/** TABLE */
.one_outer_cell_table {
}

.column_header_cell {
    background-position: top;
    text-align:center;
}

.column_data_cell {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-top: 2px;
    vertical-align: middle;
    text-align:center;
}

/** LOGGED-IN LAYOUT */
.footer {
    padding: 6px;
    line-height: 22px;
    width: 98%;
    margin-bottom: 20px;
    margin-top: 6px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

a.footerLink:link, a.footerLink:visited {
    text-decoration: none;
}

a.footerLink:hover {
    text-decoration: underline;
}

.footerHR {
}

.aboveFooter {
    padding-top: 10px;
}

.underFooter {
    padding-top: 10px;
    padding-bottom: 10px;
}

.leftColumn {
    border-right: 1px solid;
    padding-right: 8px;
}

.leftColumnModuleName {
    padding-left: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-transform: uppercase;
}

/** LEFT MENU */
.subMenu {
    /*width: 100%;*/
	/*width: 100px;*/
    padding: 0px;
    border-top: 0px;
    margin: 0px 0px 10px 0px;
    font: normal 11px Arial, Verdana, Helvetica, sans-serif;
    color: #000;
    background: #f1f1f1;
    border-bottom: 1px solid;
}

ul.subMenu li {
    list-style: none;
    margin: 0px;
    border: 1px;
    border-top: 1px solid;
}

ul.subMenu li a {
    display: block;
    border: 0px;
    text-decoration: none;
    text-align: left;
    padding: 3px 3px 3px 6px;
}

ul.subMenu li a:hover {
    background: #cedce9;
    color: #000;
}

ul.subMenu li span {
    display: block;
    border: 0px;
    text-decoration: none;
    text-align: left;
    padding: 3px 3px 3px 6px;
}

ul.subMenu li span:hover {
    color: #000;
}

/** ERRORS */
.tabError {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 10px 10px 10px 10px;
    background-repeat: repeat-x;
    background-position: top;
    vertical-align: top;
    text-align:left;
}

.error_msg_div {
    text-align: center;
    padding: 10px 3px 10px 3px;
    border-width: 1px;
    border-style: solid;
    display: block;
    width: 95%;
}

.error_cause_div {
    border-width: 1px;
    border-style: solid;
    padding: 3px 3px 3px 3px;
    display: block;
    width: 95%;
    text-align: left;
    vertical-align:top;
}

.error_stack_div {
    border-width: 1px;
    border-style: solid;
    padding: 3px 3px 3px 3px;
    display: block;
    width: 95%;
    text-align: left;
    vertical-align:top;
}

.error_label_div {
    padding: 3px 3px 3px 3px;
    border-width: 1px;
    display: block;
    width: 95%;
    text-align: left;
    vertical-align:top;
    font-weight: bold;
}