/** CONTROLS */
.button, .button_disabled, .editbox, .editbox_readonly, .dropdownbox, .dropdownbox_readonly,
.textarea, .textarea_readonly, .fileupload, .fileupload_readonly, .tabForm, .dataLabel, .dataField,
.validation_error, .mandatory_flag, form, .status_successful_div, .status_failed_div{
    font-size: 12px;
    font-weight: normal;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

h4, h4.dataLabel, h5, .panel_div, .panel_filterset_div{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
}