div.leftmenu_menucontainer {
    background-color: Silver;
    border: 1px solid blue;
    /*width: 200px;*/
    padding: 0px;
    text-align: center;
    font-weight: bold;
}

a.leftmenu_item {
    text-decoration: none;
    color: #000000;
}

a.leftmenu_item:hover {
    text-decoration: underline;
    color: #000000;
}

a.leftmenu_item:visited {
    color: #000000;
}

div.leftmenu_noref_item {
    text-decoration: none;
    color: Silver;
}

td.selected_item {
    border: 1px solid Red;
}
