/*table.mainmenu_table {*/
.mainmenu_table {
    border-bottom: solid 1px #f94931;
    /*border: 0px;*/
    background-color: #8b0305;
}

td.mainmenu_cell {
    border-left: #f94931 1px solid;
}

div.mainmenu_menucontainer {
    background-color: Silver;
    border: 1px solid Gray;
    width: 100%;
    padding: 0px;
    text-align: center;
    font-weight: bold;
}

a.mainmenu_item {
    font-weight: bold;
    font-size: 10pt;
    color: #fff19e;
    font-style: normal;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    text-decoration: none
}

a.mainmenu_item:hover {
    color: #fc0b14;
    text-decoration: underline
}

div.mainmenu_noref_item {
    font-weight: bold;
    font-size: 10pt;
    color: Silver;
    font-style: normal;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    text-decoration: none
}

td.selected_item {
    border: 1px solid Green;
}