{if true}{* use compressed js code *}
<script type="text/javascript" src="./tinymce/tiny_mce_gzip.js"></script>
<script type="text/javascript">
{literal}
tinyMCE_GZ.init({
	plugins : "cyberim,toolbartoggle,style,table,advimage,advlink,inlinepopups,insertdatetime,media,searchreplace,contextmenu,paste,fullscreen,visualchars,xhtmlxtras",
	themes : 'advanced',{/literal}
	languages : "{$lang_iso2}",{literal}	
	disk_cache : true,
	debug : false
});
{/literal}
</script>
{else}
<script type="text/javascript" src="./tinymce/tiny_mce.js"></script>
{/if}

<!-- Needs to be seperate script tags! -->
<script type="text/javascript"><!--
{*
alert("{$smarty.const.URL_ROOT}/tinymce/tiny_mce_css.php?css={$url_current_theme_css},{$smarty.const.URL_CSS}/general.css");
*}
{literal}
initArray = {
{/literal}
	docs_language : "{$lang_iso2}",
	language : "{$lang_iso2}",
{literal}
	mode : "specific_textareas",
	editor_selector : "mceEditor",
	height: "350px",
	width : "100%",
	theme : "advanced",
	theme_advanced_toolbar_location : "top",
	theme_advanced_toolbar_align : "left",
	theme_advanced_path_location : "bottom",
	theme_advanced_resizing : true,
	dialog_type : "modal",
	theme_advanced_resize_horizontal : false,
	convert_urls : false,
	relative_urls : false,
	remove_script_host : false,
	force_p_newlines : false,
	force_br_newlines : false,
	convert_newlines_to_brs : false,
	remove_linebreaks : false,
	fix_list_elements : false,
	gecko_spellcheck : false,

	entities : "38,amp,60,lt,62,gt",
	button_tile_map : true,
	entity_encoding : "raw",
	
	cleanup : true,
	cleanup_on_startup : true,
	verify_html : false,
{/literal}
	content_css:"{$smarty.const.URL_ROOT}/tinymce/tiny_mce_css.php?css={$url_current_theme_css},{$smarty.const.URL_CSS}/general.css",
{literal}
	plugins : "cyberim,toolbartoggle,safari,style,table,advimage,advlink,inlinepopups,insertdatetime,media,searchreplace,contextmenu,paste,fullscreen,visualchars,xhtmlxtras",
	
	// Theme options
	theme_advanced_buttons1 : "fullscreen,|,code,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist,|,outdent,indent,|,link,unlink,anchor,media,image,|,forecolor,backcolor,|,toolbartoggle",
	theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,cleanup,|,undo,redo,|,insertdate,inserttime,|,search,replace,|,sub,sup,charmap,|,cite,abbr,acronym,del,ins,|,blockquote,|,attribs,code,styleprops,|,help",
	theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,styleselect,formatselect,fontselect,fontsizeselect"
		
//	theme_advanced_buttons1 : "bold,italic,strikethrough,separator,bullist,numlist,outdent,indent,separator,justifyleft,justifycenter,justifyright,separator,link,unlink,image,wp_more,separator,spellchecker,separator,wp_help,wp_adv_start,wp_adv,separator,formatselect,underline,justifyfull,forecolor,separator,pastetext,pasteword,separator,removeformat,cleanup,separator,charmap,separator,undo,redo,wp_adv_end",
};

tinyMCE.init(initArray);
//-->
</script>
{/literal}