
<form action="" method="post">
   
   
   <input type="hidden" name="do" value="save"  />
   
      <label for="ball" >{"dscnt_order_amount"|translate}</label>   <br />   
      <input type="text" name="ball"  />
       <br />   
   <label  for="description">{"description"|translate}</label>   <br />   
  
   <textarea  name="description"></textarea>
   <br />   


<input type="submit" />
</form>