<a href="index.php?userID={$smarty.get.userID}&did={$smarty.get.did}&action=create_ball">{"create_ball"|translate}</a>
{if $GridRows}
<table class="grid" width="100%">
<tr class="gridsheader">
	{include file="backend/gridheader.tpl.html"}
</tr>
	
{foreach from=$GridRows item=_row}
{assign var=_order_url value="did=&ukey=admin_order_detailed&orderID=`$_row.orderID`&rdid=`$CurrentDivision.id`"|set_query_html}
<tr class="{cycle values="gridline1,gridline"}">
	<td>{$_row.ball_id}</td>
	
    <td>{$_row.ball}</td>
	<td>{$_row.date_transaction}</td>

	<td>{$_row.description}</td>
	
</tr>	
{/foreach}
<tr style="height: 1px; background-color: #CCCCCC;"><td colspan="6" style="padding: 0px;"></td></tr>
{if $orders_totals}
<tr>
    <td colspan="4"></td>
    <td colspan="2">
        <span style="font-size: 120%">{"str_total"|translate}:</span>
        {foreach from=$orders_totals item=ot}
        <br />
        <span style="color: {$ot.color};{if $ot.bold} font-weight: bold;{/if}{if $ot.italic} font-style: italic;{/if}">{$ot.status_name}:</span>
        <span style="color: {$ot.color}; font-weight: bold;">{$default_currency_code} {$ot.total}</span>
        {/foreach}
    </td>
</tr>
{/if}

<tr class="gridsfooter"> 
	<td colspan="{$GridHeadersNum}">{include file="backend/lister.tpl.html"}</td>
</tr>
</table>
{else}
	<p>{"srch_no_matches_found"|translate}</p>
{/if}
