/* Header */
header .buy_now {width:210px;}

/* Menu */
nav#menu ul li.about a {padding:45px 0 50px 35px;}
nav#menu ul li.catalog a {padding: 45px 0 40px 25px; }		
nav#menu ul li.buy a {padding: 45px 0 50px 20px;}			
nav#menu ul li.partners a {padding: 52px 0 50px 21px;}			
nav#menu ul li.service a {padding: 52px 0 35px 23px;}			
nav#menu ul li.feedback a {padding: 52px 0 30px 20px;}