/*
Theme Name: Bless
*/

/*
alexandr@oleynik.org
*/

* {outline:0;font-size:100%;vertical-align:baseline;margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
article, aside, figure, footer, header, hgroup, menu, nav, section {display:block;}
a img {border:0;}

body {
	background: #bbe4ea url(./images/background.jpg) top center no-repeat;
	font: normal 14px "Arial", Verdana, sans-serif;
}

a {color:#000;text-decoration:underline;}
a:hover {color:#666;}


ul {list-style-image: url(./images/list-style.gif);color: #384a53;}
ul li {margin-bottom: 3px;}

/* ------- */


nav#top {
	width: 980px;
	height: 30px;
	
	margin: 0 auto 40px auto;
	padding-top: 10px;
	
	background: #424242 url(./images/top_nav_bg.gif) repeat-x;
	color: #fff;
	
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;

}

nav#top .lang {
	float: left;
	width: 80px;
	margin: 0 40px 0 10px;
	font-size: 8px;
}

nav#top .lang span {
	display: inline-block;
	padding: 5px 7px;
	background: #e84510;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

nav#sdf {
	padding: 4px 6px;
	border: 1px #bdbdbd solid;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
	color: #acacac;
	text-decoration: none;
}

nav#top .lang * {
	display: inline-block;
	width: 31px;
	height: 20px;
	background: url(./images/langs_shape.gif) no-repeat;
}

nav#top .lang .rus {}
nav#top .lang .rus.active {
	background-position: left bottom;
}

nav#top .lang .eng {margin-left:1px;background-position: right top;}
nav#top .lang .eng.active {background-position: right bottom;}


nav#top .social ul {list-style: none;}
nav#top .social ul li {float: left;}
nav#top .social ul li * {
	display: block;
	width: 20px;
	height: 20px;
	margin-right: 3px;
	background: url(./images/top_social-btns.gif) left top no-repeat;
}
nav#top .social ul li.fb a {background-position: -24px top;}
nav#top .social ul li.lj a {background-position: -48px top;}
nav#top .social ul li.twi a {background-position: -72px top;}



nav#top .search {
	float: right;
	width: 277px;
	margin-right: 10px;
}
nav#top .search input[type="text"] {
	border: 0;
	width: 190px;
	height: 19px;
	padding-left: 20px;
	background: #fff url(images/top_search_bg.gif) 4px center no-repeat;
	font-size: 12px;
}
nav#top .search input[type="submit"] {
	border: 0;
	height: 19px;
	width:66px;
	background: url(images/top_search_btn.gif) no-repeat;
	font-size: 12px;
	color: #fff;
	cursor: pointer;
}

@-moz-document url-prefix()
{
	nav#top .search input[type="submit"] {height: auto;padding: 1px 0;}
}/* end nav#top */

header {
	display: table;
	width: 960px;
	margin: 0 auto;
}

header .logo {
	float: left;
	width: 231px;
}
header .slogan {
	float: left;
	width: 340px;
	margin-left: 15px;
}

header .slogan img {
	margin-top: 25px;
}
header .slogan p {
	margin-left: 42px;
	font: italic 11px "Tahoma";
	color: #777;
}

header .buy_now {
	float: right;
	width: 280px;
	padding-top: 25px;
	background: url(./images/buy_now_arr.png) right 50px no-repeat;
}

header .buy_now h2 a {
	font: normal 22px "Tahoma";
	color: #04a9e1;
	text-transform: uppercase;
	text-decoration: none;
}

header .buy_now h2 a span {font-family:Arial;font-weight: bold;}
header .buy_now p {font: italic 13px Tahoma;color: #888;}

/* end #header */


nav#menu {
	display: table;
	width: 960px;
	margin: 0 auto;
}

nav#menu ul {
	list-style: none;
	margin-top:60px;
}

nav#menu ul li {
	float: left;
	display: block;
	width: 119px;
	height: 127px;
	margin-left: 49px;
}
nav#menu ul li:first-child {margin-left: 0px!important;}

nav#menu ul li * {
	display:block;
	font:normal 14px "Arial";
}

nav#menu ul li.about {background: url(./images/menu_circle_red.png) no-repeat;}
			li.about a {padding:52px 0 50px 29px;}
			
nav#menu ul li.catalog {background: url(./images/menu_circle_blue.png) no-repeat;}
			li.catalog a {padding: 40px 0 40px 13px; }
			
nav#menu ul li.buy {background: url(./images/menu_circle_yellow.png) no-repeat;}
			li.buy a {padding: 52px 0 50px 15px;}
			
nav#menu ul li.partners {background: url(./images/menu_circle_green.png) no-repeat;}
			li.partners a {padding: 52px 0 50px 13px;}
			
nav#menu ul li.service {background: url(./images/menu_circle_grey.png) no-repeat;}
			li.service a {padding: 46px 0 35px 8px;font-size: 12px!important;}
			
nav#menu ul li.feedback {background: url(./images/menu_circle_grey.png) no-repeat;}
			li.feedback a {padding: 45px 0 30px 20px;}

nav#menu ul li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}


.ihavebless {
	clear: both;
	display: table;
	width: 963px;
	height: 135px;
	margin: 50px auto;
	
	text-align: center;
}
.ihavebless h1 {
	font: normal 135px "Arial";
	color: #fff;
}

.ihavebless h1 span {font-weight: bold;}


.table_block_middle {
	display: table;
	width: 940px;
	margin: 25px auto;
	padding: 25px;
	padding-right: 0px;
	border: 2px #fff solid;
}
.table_block_middle .left {
	float: left;
	width: 325px;
	font: normal 17px "Tahoma";
	color: #2ea146;
}
.table_block_middle .left b {font:24px "Tahoma";}

.table_block_middle .right {
	float: right;
	width: 560px;
	margin-left: 15px;
	padding-top: 10px;
	font: italic 15px Tahoma;
	color: #888;
}

.table_block_footer {
	display: table;
	width: 962px;
	height: 216px;
	margin: 30px auto;
	background: url(./images/phone_blue_bg.png) center center no-repeat;
}

.table_block_footer .info-left {
	float: left;
	width: 370px;
	padding: 65px 0px 0px 36px;
	font: normal 15px Tahoma;
	color: #fff;
	line-height: 170%;
}

.table_block_footer .info-right {
	float: right;
	display: block;
	width: 310px;
	padding: 65px 0px 60px 0px;
	font: 17px Tahoma;
	color: #fff;
}


.bless_edge {
	display: table;
	width: 890px;
	margin: 0 auto;
}

.bless_edge .left {
	float: left;
	width: 400px;
}

.bless_edge .left img {
	margin-bottom: 15px;
}

.bless_edge .right {
	float: right;
	width: 370px;
}

.bless_edge .what {
	display: block;
	margin-top: 30px;
	padding-right: 20px;
	font: 21px "Tahoma";
	color: #04a9e1;
	text-transform: uppercase;
	line-height: 30px;
	/*background: url(./images/info_right-arr.png) right 7px no-repeat;*/
}



ul.bottom {margin-top:52px;}

ul.list {margin-left: 15px;}
ul.list li {
	font: 13px "Tahoma";
	color: #4c5c5e;
	margin-bottom: 5px;
}

ul.list span {padding-left: 50px;}

footer {
	display: table;
	width: 960px;
	height: 27px;
	margin: 25px auto;
}

footer .copy {
	float: left;
	display: block;
	width: 806px;
	height: 23px;
	background: #fff;
	
	border: 2px #4c5c5e solid;
	border-right: 0px;
	
	font: normal 8px "Arial";
	color: #666;
	text-transform: uppercase;
}
footer .copy span {display:block;padding: 7px 15px;}

footer span a {
	float: right;
	display: table;
	width: 152px;
	height: 27px;
	background: url(./images/footer_copy.gif) left center no-repeat;
}



/* --- Where to buy page --- */

.where_to_buy_currblock {
	display: table;
	width: 960px;
	height: 122px;
	margin: 15px auto;
	background: url(./images/where_to_buy_currblock.png) no-repeat;
}


.where_to_buy_currblock .left {
	float: left;
	width: 450px;	
	padding-left: 25px;
	padding-top: 45px;
}
.where_to_buy_currblock .left img {
	margin-top: 10px;
}

.where_to_buy_currblock .right {
	float: left;
	width: 345px;
	margin-left: 95px;
	padding-top: 45px;
}
.where_to_buy_currblock .right p {
	padding-top: 7px;
	font:italic 14px "Tahoma";
	color: #666;
}

.table_parm {
	display: table;
	width: 960px;
	margin: 0 auto;
}

.table_parm h3 {
	padding-left: 35px;
	font:20px "Tahoma";
	color: #444;
}

.table_parm .parm {	margin:30px 0 25px 35px;}
.table_parm .parm .city {
	float: left;
	display: table;
	border: 2px #04a9e1 solid;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
        margin-bottom: 20px;
	font: 14px "Tahoma";
	color: #626262;
}

.table_parm .parm .city span {
	display: block;
	float: left;
	width:270px;

	padding-top: 8px;
	padding-left: 10px;
}

.table_parm .parm .select {
	float: right;
	display: inline-block;
	width: 51px;
	height: 34px;
	background: url(./images/table_select.gif);
}

.table_parm .parm input[type="submit"] {
	border: 0;
	width: 100px;
	height: 38px;
	margin-left: 10px;
	background: #f1b40e url(./images/search_btn.gif) no-repeat;
	
	font: 14px "Tahoma";
	text-transform: uppercase;
	color: #fff;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	cursor: pointer;
}

.table_parm table {
	width: 960px;
	font: 13px "Tahoma";
	color: #626262;
	
	border-width: 0 0 2px 2px;
	border-style: solid;
	border-color: #fff;
	border-collapse:collapse;
	border-spacing: 0px;
}

.table_parm table tr {
	background: #def2f4;
}

.table_parm table tr:nth-child(2n+1) {background: #caeaee;}

.table_parm table tr td {
	padding: 10px;
	border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: #fff;
}

.table_parm table tr td:nth-child(1) {text-align: center;color: #384a53;width: 15px;}
.table_parm table tr td:last-child a {color: #626262;}


.table_parm div.navi {float: right;margin-top: 15px;margin-bottom: 10px;}
.table_parm div.navi a.next {
	display: inline-block;
	width:200px;
	height: 39px;
	background: url(./images/navi.png) -211px center no-repeat;
}

.table_parm div.navi a.prev {
	display: inline-block;
	width:200px;
	height: 39px;
	background: url(./images/navi.png) left center no-repeat;
}


/* --- Partners --- */

.partners_currblock {
	display: table;
	width: 960px;
	height: 122px;
	margin: 15px auto;
	margin-bottom: 0;
	background: url(./images/partner_currblock.png) no-repeat;
}


.partners_currblock .left {
	float: left;
	width: 580px;	
	padding-left: 25px;
	padding-top: 45px;
}
.partners_currblock .left img {
	padding-top: 6px;
}

.partners_currblock .right {
	float: right;
	width: 250px;
	padding-top: 55px;
	margin-left: 95px;
}
.partners_currblock .right p {
	padding-top: 7px;
	font:italic 14px "Tahoma";
	color: #666;
}

.partner_text {
	width: 940px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.partner_text h2 {
	clear: both;
	margin: 25px 0 20px 15px;
	font: 21px "Tahoma";
	color: #474747;
}

.partner_text .left ul li b, .partner_text .center ul li b {
	display: block;
	font: 17px "Tahoma";
	margin-bottom: 5px;
}

.partner_text ul {margin-left: 30px;}
.partner_text ul li {font: 13px "Tahoma";padding-bottom: 25px;}

.partner_text .left {
	float: left;
	width:350px;
}

.partner_text .center {
	float: left;
	width: 270px;
}

.partner_text .right {
	float: right;
	width: 210px;
	font: 12px "Tahoma";
	color: #4c5c5e;
}



/* --- Service --- */

.services_currblock {
	display: table;
	width: 961px;
	height: 122px;
	margin: 15px auto;
	background: url(./images/service_currblock.png) no-repeat;
}


.services_currblock .left {
	float: left;
	width: 420px;	
	padding-left: 25px;
	padding-top: 45px;
}
.services_currblock .left img {
	padding-top: 6px;
}

.services_currblock .right {
	float: left;
	width: 400px;
	margin-left: 100px;
	padding-top: 45px;
	padding-right: 15px
}
.services_currblock .right p {
	padding-top: 7px;
	font:italic 14px "Tahoma";
	color: #666;
}
.services_currblock a {
	font:italic 14px "Tahoma";
	color: #666;
}




/* --- Catalog page ---*/
.catalog_currblock {
	display: table;
	width: 960px;
	height: 122px;
	margin: 15px auto;
	background: url(./images/catalog_currblock.png) no-repeat;
}


.catalog_currblock .left {
	float: left;
	width: 300px;	
	padding-left: 25px;
	padding-top: 45px;
}
.catalog_currblock .left img {
	margin-top: 10px;
}

.catalog_currblock .right {
	float: left;
	width: 480px;
	margin-left: 140px;
	padding-top: 45px;
}
.catalog_currblock .right p {
	padding-top: 8px;
	font:italic 15px "Tahoma";
	color: #666;
}

.product {
	width: 960px;
	display: table;
	margin: 0 auto;
	padding: 30px 0;
	border-bottom: 2px #fff solid;
}

.product .photo {
	float: left;
	width: 445px;
	padding-left: 10px;
}

.product .info {
	float: left;
	width: 410px;
}

.product .info h3 {
	font: 19px "Tahoma";
	color: #474747;
	margin: 25px 0;
	margin-left: 12px;
}

.product .info ul.features {
	margin: 25px 10px 30px 30px;
	font-family:13px Tahoma;
}

.product a.buy {
	clear: both;
	display: table;
	width: 136px;
	height: 38px;
	margin-left: 15px;
	background: #04a9e1 url(./images/buy_online-bnt.gif) no-repeat;
	cursor: pointer;
	font: 14px "Tahoma";
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}







/* --- About page --- */

.about_currblock {
	display: table;
	width: 960px;
	height: 302px;
	margin: 15px auto;
	background: url(./images/about_currblock.png) no-repeat;
}

.about_currblock img {
	display: block;
	clear: both;
	margin: 45px 0px 40px 25px;
}

.about_currblock .left {
	float: left;
	width: 440px;	
	padding-left: 25px;
}

.about_currblock .left p {
	font: 13px "Tahoma";
	color: #4c5c5e;
}

.about_currblock .right {
	float: left;
	width: 350px;
	margin-left: 80px;
}
.about_currblock .right p {
	font:italic 25px "Tahoma";
	color: #04a9e1;
}

.about_text {
	width: 960px;
	margin: 0 auto;
}

.about_text .left {
	float: left;
	width: 430px;
	padding-top: 20px;
	padding-left: 20px;
}

.about_text .left h2 {
	margin: 0px 0 15px 5px;
	font: 36px "Tahoma";
	color: #474747;
}
.about_text .left h3 {
	margin-left: 5px;
	font:italic 19px "Tahoma";
	color: #e84510;
	line-height: 27px;
}

.about_text .left p {padding-left: 5px;}
.about_text .left p, .about_text .right p {
	font: 13px "Tahoma";
	color: #4c5c5e;
	margin: 2.3em 0;
}

.about_text .right {
	float: left;
	width: 380px;
	margin-left: 90px;
	padding-top: 25px;
}


.rules {margin-left: 5px;}
.rules_text {margin: 25px 0px 5px 0px;}




/* --- Feedback page --- */

.feedback_currblock {
	display: table;
	width: 960px;
	height: 122px;
	margin: 15px auto;
	background: url(./images/feedback_currblock.png) no-repeat;
}


.feedback_currblock .left {
	float: left;
	width: 320px;	
	padding-left: 25px;
	padding-top: 45px;
}
.feedback_currblock .left img {
	margin-top:10px;
}

.feedback_currblock .right {
	float: left;
	width: 545px;
	margin-left: 35px;
	padding-top: 45px;
}
.feedback_currblock .right p {
	margin-top: 5px;
	font:italic 15px "Tahoma";
	color: #666;
}


.quest_text {
	width: 940px;
	margin: 0 auto;
}

.quest_text h2 {
	clear: both;
	margin: 25px 0 15px 15px;
	font: 21px "Tahoma";
	color: #474747;
}

.quest_text .left ul li b, .quest_text .center ul li b, .quest_text .right ul li b {
	display: block;
	font: 17px "Tahoma";
	margin-bottom: 5px;
}

.quest_text ul {margin-left: 30px;}
.quest_text ul li {font: 13px "Tahoma";padding-bottom: 25px;}

.quest_text .left {
	float: left;
	width:350px;
}

.quest_text .center {
	float: left;
	width: 270px;
}

.quest_text .right {
	float: right;
	width: 210px;
	/*padding-top: 20px;*/
	font: 12px "Tahoma";
	color: #4c5c5e;
}


.feedback_block {
	display: table;
	width: 940px;
	margin: 25px auto;
}

.feedback_block h2 {
	clear: both;
	margin: 25px 0 25px 25px;
	font: 21px "Tahoma";
	color: #474747;
}

.feedback_block form {
	display: table;
	width: 940px;
	margin-bottom: 15px;
}

.feedback_block form .left {
	float: left;
	width: 400px;
	margin-left: 10px;
} 

.feedback_block form .right {
	float: left;
	width: 480px;
	margin-left: 30px;
}

.feedback_block form {margin-left: 15px;}
.feedback_block .name, 
.feedback_block .mail, 
.feedback_block .phone,
.feedback_block .org,
.feedback_block .website,
.feedback_block .city,
.feedback_block .partner_city{
	display: table;
	margin-bottom: 20px;
	border: 2px #04a9e1 solid;
	
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.feedback_block .name span, 
.feedback_block .mail span, 
.feedback_block .phone span,
.feedback_block .org span,
.feedback_block .website span,
.feedback_block .city span,
.feedback_block .partner_city span{
	float: left;
	width: 80px;
	display: block;
	padding: 7px 10px;
	background: #04a9e1;
	
	font: 14px "Tahoma";
	color: #fff;
}

.feedback_block .name input, 
.feedback_block .mail input, 
.feedback_block .phone input,
.feedback_block .org input,
.feedback_block .website input,
.feedback_block .city input,
.feedback_block .partner_city input{
	border: 0;
	float: right;
	padding: 7px 10px;
	width: 270px;
	background: transparent;
	font: 14px "Tahoma";
	color: #667173;
}


.feedback_block form .message {
	border: 2px #04a9e1 solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.feedback_block form .message span {
	width: 80px;
	display: block;
	padding: 6px 10px;
	background: #04a9e1;
	
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	
	font: 13px "Tahoma";
	color: #fff;
}

.feedback_block form textarea {
	border: 0;
	width: 455px;
	height: 91px;
	padding: 10px;
		
	background: transparent;
	
	font: 14px "Tahoma";
	color: #667173;
}

#big_message #form_message{
    height: 256px;
}

.feedback_block form input[type="submit"], #send_form_button {
	border: 0;
	float: right;
	width: 120px;
	height: 37px;
	margin-top: 10px;
	background: #f1b40e url(./images/submit_btn.gif) no-repeat;
	color: #fff;
	text-transform: uppercase;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	font: 13px "Arial";
	
	cursor: pointer;
}

/*Kushnir Yevhen css*/

.table_parm a{
    text-decoration: none;
}
#hiddencity{
    display: none;
    position: absolute;
    top: 34px;
    left: -2px;
    width: 280px;
	border: 2px #04a9e1 solid;
}
.hiddencity{
	display: block;
    padding: 8px 10px;
    background: #d9eff1;
    border-top: 2px solid #04A9E1;
}
.hiddencity:hover{
    background-color: #04A9E1;
    color:#fff;
    cursor: pointer;
}
a.select:hover{
    cursor: pointer;
    opacity: 0.8;
}

/* Google search */

.gsc-control-searchbox-only{
	margin-left: -50px;
margin-top: -10px;
}

.gsc-input input{
	background-image: none;
	margin-left: 32px;
    margin-top: 0px;
    position: absolute;
}
.gsc-clear-button{
	display: none;
}

.hid_form{
    display: none;
}
.buyphone{
    padding: 10px;
    background: #f1b40e;
    color:#fff;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    float: left;
    cursor: pointer;
    margin-left: 10px;
}

.product .phone-label {
    background: url("images/bless_label.gif") no-repeat scroll 0 0 #F23F43;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    display: table;
    height: 58px;
    position: relative;
}

.buyinfo {
	margin: 15px 0 0 25px;
	padding: 10px;
	border: 2px #04a9e1 solid;
    border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    display: none;
}

.product .phone-label span {
    color: #FFFFFF;
    display: block;
    font: 35px Arial;
    margin: 8px 15px 0 185px;
}
.page, h1.page-title{
    width:940px;
    margin:0 auto;
}

h1.page-title{
    margin-bottom: 15px;
}
.page{
    margin-bottom: 10px;
}
#content{
    width:940px;
    margin: 25px auto;
}

#content .page-title {font-size:19px;}

.hentry {margin-bottom:20px;}

.entry-content {
	margin: 50px 0 150px 0;
}